[build]
publish = "public"
command = "make deploy"

[context.production.environment]
HUGO_VERSION = "v0.148.2"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[[redirects]]
  from = "/posts/*"
  to = "/notes/:splat"
  status = 301
  force = true

[[plugins]]
  package = "@netlify/plugin-lighthouse"

  [plugins.inputs.thresholds]
    performance = 0.9
    accessibility = 0.8
    best-practices = 0.9
    seo = 0.9
    pwa = 0.7

[[plugins]]
  package = "netlify-purge-cloudflare-on-deploy"
