{{ define "main" }}
  <h1>Personal roam notes</h1>
  <p>These are personal <i>org-roam</i> notes. I tend to make notes during the
    day, and the ones I feel that are interesting I publish them here.
  </p>
  </br>
  {{ range sort (.Paginator 50).Pages }}
    <li style="padding: 3px;">
      <a
        data-toggle={{ partialCached "docs/post-meta" . }}
        href="{{ .RelPermalink }}">{{ .Title }}
      </a> <i>(modified at {{ .Lastmod.Format "January 2, 2006" }})</i>
    </li>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partialCached "docs/taxonomy" . }}
{{ end }}
