{{ define "main" }}
<article class="markdown">
  <h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  {{ partial "docs/post-meta" . }}
  <p>
    {{- .Content -}}
  </p>
  {{ partial "docs/backlinks" . }}
</article>
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
  {{ with .OutputFormats.Get "Markdown" }}
  <div style="text-align: right; font-size: 0.85em;">
    <a href="{{ .Permalink }}">view markdown</a>
  </div>
  {{ end }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
