.org-todo, .todo, .done {
  color: #fff;
  padding: .1em .3em;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 80%;
  line-height: 1;
}

.TODO {
  background-color: red;
}

.DONE {
    background-color: green;
}
