@mixin theme-dark {
  --body-background: #121212;
  --body-background-tint: none;

  --body-font-color: #e9ecef;

  --color-link: #84b2ff;
  --color-visited-link: #b88dff;

  --icon-filter: brightness(0) invert(1);

  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-500: rgba(255, 255, 255, 0.5);

  --color-accent-default: #64748b;
  --color-accent-note: #4486dd;
  --color-accent-tip: #3bad3b;
  --color-accent-important: #8144dd;
  --color-accent-warning: #f59e42;
  --color-accent-caution: #d84747;

  // Fallback for {{< hint >}} shortcodes
  --color-accent-info: #4486dd;
  --color-accent-success: #3bad3b;
  --color-accent-danger: #d84747;
}
